.a {
  width: 360px;
  height: 205.5px;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 205.5px;
      object-fit: cover;
      object-position: center center;
    }
}  