<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of albums; index as i">
            <p-card class="title text-center box" header="{{item.titulo}}" subheader="{{item.descripcion}}" styleClass="p-card-shadow" (click)="getId(item)">
                <ng-template pTemplate="header">
                    <img  alt="Card" [src]="item.imagen">
                </ng-template>
                <ng-template pTemplate="footer">
                    <!-- <button class="btn btn-info btn-just-icon btn-round btn-link" (click)="getId(item)">
                  Ver Galería
                    </button> -->
                </ng-template>
            </p-card><br>
        </div>
    </div>
</div>