

<div class="wrapper">
    <div class="card page-carousel">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="page-header section-dark" style="background-image: url('./assets/img/2.jpg')">
                <div class="carousel-caption">
                    <p>Imagen 1</p>
                </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header section-dark" style="background-image: url('./assets/img/3.jpg')">
                    <div class="carousel-caption">
                    <p>Imagen 2</p>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header section-dark" style="background-image: url('./assets/img/4.jpg')">
                    <div class="carousel-caption">
                    <p>Imagen 3</p>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div class="main">
        <div class="section section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mr-auto ml-auto">
                        <h2 class="title text-center"><strong>MISIÓN</strong></h2>
                        <h5 class="description">La fundación Semillas de Esperanza, tiene como objetivos crear y
                            promocionar programas y servicios de desarrollo integral apadrinando centros infantiles del
                            buen vivir, en donde se impulse la igualdad y el buen trato; y, la ejecución de proyectos
                            encaminados a brindar ayuda con prioridad a aquellos que se encuentran en los sectores
                            marginados.
                            Realizando actividades de atención familiar, apoyando el crecimiento de sus hijos,
                            respetando una cultura de libre expresión, erradicando y separándoles del trabajo infantil y
                            atendiendo las necesidades de los que se encuentran en situación de abandono y mendicidad.
                        </h5>
                    </div>
                    <div class="col-md-6 mr-auto ml-auto">
                        <h2 class="title text-center"><strong>VISIÓN</strong></h2>
                        <h5 class="description">La Fundación Semillas de Esperanza es una organización, sin ánimo de
                            lucro, que tiene como fines proponer y ejecutar programas y servicios de cuidado e inclusión
                            económica y social de desarrollo infantil, niños y niñas; con énfasis en aquella población
                            que se encuentra en situación de exclusión, discriminación, pobreza, vulnerabilidad;
                            promoviendo, asegurando, protegiendo y apoyando la restitución del ejercicio pleno de sus
                            derechos, en todo su ciclo de vida.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section  text-center" style="background-color:#0275d8;">
        <div class="container">
            <h2 class="title" style="color: aliceblue;">Nuestros Voluntarios</h2>
            <div class="row">
                <div class="col-md-4" *ngFor="let v of voluntarios">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src={{v.imagen}} alt="1"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">{{v.nombre}} {{v.apellido}} </h4>
                                    <h6 class="card-category">{{v.cargo}}</h6>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section  text-center">
        <div class="container">
            <h2 class="title">Galeria</h2>
                <ng-image-slider #nav
                [images]="imageObject"
                [infinite]="true"
                [autoSlide]="1"
                [imageSize]="{width: '400px', height: '350px', space: 4}"
                slideImage="1"></ng-image-slider>
            </div>
        </div>
        
    </div>
    
    <div>
       
                
   
    <!-- <div class="section section" id="carousel">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title text-center"><strong>GALERÍA</strong></h2>
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/2.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                    <p>Imagen 1</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/3.jpg" alt="Random second slide">
                                <div class="carousel-caption">
                                    <p>Imagen 2</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/4.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Imagen 3</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>  
            </div>
        </div>
    </div> -->


</div>