.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    margin: 0.3rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .product-image {
    width: 50%;
  }
}

.sectionimagen{
  max-width: 50px;
  max-height: 42px;
}
