<div class="section-with-space section-dark ">

</div>

<div class="row ">
    <!-- <div class="col-md-12" *ngFor="let c of contenido; let even=even">
        <div *ngIf="even">
            Title: {{ c.nombre }}

            Image <img src="{{ c.imagen }}" alt="">
        </div>
        <div class="col" *ngIf="!even">
            Title: {{ c.nombre }}
            Image <img src="{{ c.imagen }}" alt="">
        </div> -->
    <div class="col-md-12" *ngFor="let c of contenido; let even=even">
        <div class="media blog-media">
            <a href="#"><img class="d-flex" src="{{ c.imagen }}"
                    alt="Generic placeholder image"></a>
            <div class="circle">
                <h5 class="day">14</h5>
                <span class="month">sep</span>
            </div>
            <div class="media-body">
                <a href="">
                    <h5 class="mt-0">{{c.nombre}}</h5>
                </a> {{c.contenido}}. dfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                <a href="#" class="post-link">Read More</a>
                <ul>
                    <li>by: {{c.nombre}}</li>
                    <li class="text-right"><a href="#">07 comments</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-12">
        <div class="media blog-media">
            <a href="#"><img class="d-flex" src="https://bootdey.com/img/Content/avatar/avatar6.png"
                    alt="Generic placeholder image"></a>
            <div class="circle">
                <h5 class="day">12</h5>
                <span class="month">sep</span>
            </div>
            <div class="media-body">
                <a href="">
                    <h5 class="mt-0">Post #2</h5>
                </a> Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat
                error.
                <a href="#" class="post-link">Read More</a>
                <ul>
                    <li>by: Admin</li>
                    <li class="text-right"><a href="#">04 comments</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="media blog-media">
            <a href="#"><img class="d-flex" src="https://bootdey.com/img/Content/avatar/avatar4.png"
                    alt="Generic placeholder image"></a>
            <div class="circle">
                <h5 class="day">09</h5>
                <span class="month">sep</span>
            </div>
            <div class="media-body">
                <a href="">
                    <h5 class="mt-0">Post #3</h5>
                </a> Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat
                error.
                <a href="#" class="post-link">Read More</a>
                <ul>
                    <li>by: Admin</li>
                    <li class="text-right"><a href="#">10 comments</a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>