<section class="page-section bg" style="padding:5rem;">
    <div class="container">
        <br><br>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Blog</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-10">Revisa nuestro blog</p>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="media blog-media">
                <a href="#"><img class="d-flex" src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        alt="Generic placeholder image"></a>
                <div class="circle">
                    <h5 class="day">14</h5>
                    <span class="month">sep</span>
                </div>
                <div class="media-body">
                    <a href="">
                        <h5 class="mt-0">Post #1</h5>
                    </a> Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat
                    error.
                    <a href="#" class="post-link">Read More</a>
                    <ul>
                        <li>by: Admin</li>
                        <li class="text-right"><a href="#">07 comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="media blog-media">
                <a href="#"><img class="d-flex" src="https://bootdey.com/img/Content/avatar/avatar6.png"
                        alt="Generic placeholder image"></a>
                <div class="circle">
                    <h5 class="day">12</h5>
                    <span class="month">sep</span>
                </div>
                <div class="media-body">
                    <a href="">
                        <h5 class="mt-0">Post #2</h5>
                    </a> Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat
                    error.
                    <a href="#" class="post-link">Read More</a>
                    <ul>
                        <li>by: Admin</li>
                        <li class="text-right"><a href="#">04 comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media blog-media">
                <a href="#"><img class="d-flex" src="https://bootdey.com/img/Content/avatar/avatar4.png"
                        alt="Generic placeholder image"></a>
                <div class="circle">
                    <h5 class="day">09</h5>
                    <span class="month">sep</span>
                </div>
                <div class="media-body">
                    <a href="">
                        <h5 class="mt-0">Post #3</h5>
                    </a> Sodales aliquid, in eget ac cupidatat velit autem numquam ullam ducimus occaecati placeat
                    error.
                    <a href="#" class="post-link">Read More</a>
                    <ul>
                        <li>by: Admin</li>
                        <li class="text-right"><a href="#">10 comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-7 offset-2">
                <div class="blog_left_sidebar">
                    <article class="blog_item" ><!--*ngFor="let blog of datosArreglados"-->
                        <br><br>    
                        <a href="#"><img class="d-flex" src="https://bootdey.com/img/Content/avatar/avatar4.png"
                            alt="Generic placeholder image"></a>
                    <div class="circle">
                        <h5 class="day">09</h5>
                        <span class="month">sep</span>
                    </div>
                        <div class="blog_details bg">
                            <a class="d-inline-block" >
                                <h2>ksjd</h2>
                            </a>
                            <p>sdsdk}</p>
                        </div>
                    </article>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</section>