.form-control:focus {
    background-color: #FFFFFF;
    border: none;
    box-shadow: none;
    outline: 0 !important;
}
<<<<<<< HEAD

mat-option {
    z-index: 1 !important;
    position: auto !important;
}

form {
=======
mat-option{
    z-index: 1 !important;
    position: auto !important;
}
form{
>>>>>>> master
    z-index: 2 !important;
}

mat-form-field {
    position: relative;
    width: 300px;
}

<<<<<<< HEAD
.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

@media screen and (max-width: 992px) {
=======
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  @media screen and (max-width: 992px) {
>>>>>>> master
    mat-form-field {
        position: relative;
        width: 180px;
    }
<<<<<<< HEAD
}

@media screen and (max-width: 768px) {
=======
  }

  @media screen and (max-width: 768px) {
>>>>>>> master
    mat-form-field {
        position: relative;
        width: 350px;
    }
<<<<<<< HEAD
}

@media screen and (max-width: 576px) {
=======
  }
  @media screen and (max-width: 576px) {
>>>>>>> master
    mat-form-field {
        position: relative;
        width: 250px;
    }
<<<<<<< HEAD
}
=======
  }
>>>>>>> master
