<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">FUNDACIÓN SEMILLAS DE ESPERANZA</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eos quos autem aspernatur, dignissimos re.</p>
            </div>

            <div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">CONTÁCTANOS</h5>
                <h3>
                    <p><i class="fa fa-phone"></i> CELULAR: 099 839 1982</p>
                </h3>
                <h3>
                    <p><i class="fa fa fa-envelope"></i> CORREO: fundacionsemillas.ec@hotmail.com</p>
                </h3>
                <h1>
                    <p><i class="fa fa-location-arrow"></i> DIRECCIÓN: Quito-Ecuador</p>
                </h1>
            </div>

            <div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">UBÍCANOS</h5>
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15959.25884808182!2d-78.465834!3d-0.0770573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x550c5f5584c5cb54!2sSemillas%20de%20Esperanza!5e0!3m2!1ses!2sec!4v1617828154183!5m2!1ses!2sec"
                        width="400" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- <div class=" col-sm-4 col-md col-sm-4 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">ESCRÍBENOS</h5>
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            placeholder="Ingresa tu Correo">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Ingresa tu Mensaje"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Enviar</button>
                    </fieldset>
                </form>
            </div> -->
        </div>
    </div>

    <div class="container">
        <ul class="social_footer_ul">
            <li><a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p class="text-center">Copyright {{date}} | Diseñado por Instituto Tecnológico Yavirac <a href="#">#</a></p>
    </div>
</footer>